.cards-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 44px;
  
}

.card-container{
  display: flex;
  height: 100vh;
  margin-bottom: 20vh;
  background: rgb(107, 206, 36);
  background: radial-gradient(circle, rgba(105, 252, 0, 0.452) 0%, rgba(108,217,29,0) 51%);
}

.cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 789px){
  .cards{
    flex-direction: column;

  }
  .card-contianer{
    height: 100%;
  }
}
